@import "partials/theme.css";
@import "partials/reset.css";
@import "partials/navbar.css";
@import "partials/slide.css";
@import "partials/button.css";
@import "partials/colors.css";
@import "partials/elevation.css";
@import "partials/side-tab.css";
@import "partials/price.css";



/* reset */
* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style: none;
    padding:0;
}

a {
    text-decoration: none;
}


html,
body {
    margin:0;
    padding: 0;
    background-color: light-dark(var(--light-bg), var(--dark-bg));
    color: light-dark(var(--light-fg), var(--dark-fg));
}

.overlay{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--light-overlay)
}


.backdrop-hero{
    width: 100%;
    background:url(/images/bg_section1.jpg)no-repeat center center/ cover;
}

@media screen and (min-width: 1024px) {
    .backdrop-hero{
        background: url(/images/img_section1.png) no-repeat calc(50% + 350px) center / contain, url(/images/bg_section1.jpg)no-repeat center center/ cover;
    }
}
@media screen and (min-width: 1024px){
    .floating-card{
        transform: translateX(-24px);
    }
}

@media screen and (min-width: 1440px){
    .floating-card{
        transform: translateX(-48px);
    }
}