.darkpurple {
    background: var(--darkpurple);
    color: var(--dk-contrast)
}

.pink {
    background: var(--pink);
    color: var(--dk-contrast)
}
/*  BACKGROUNDS */
.transparent {
    background: transparent;
}

.background-bg{
    background: light-dark(var(--light-bg), var(--dark-bg));
}

.background-bg-alpha{
    background: light-dark(var(--light-bg-alpha), var(--dark-bg-alpha));
}

.background-surface{
    background: light-dark(var(--light-surface), var(--dark-surface));
}
.background-surface-inverse{
    background: light-dark(var(--dark-surface), var(--light-surface));
    color: light-dark(var(--dk-contrast), var(--lt-contrast));
}
.background-surface-alpha{
    background: light-dark(var(--light-surface-alpha), var(--dark-surface-alpha));
}

/* COLORS */

.color-darkpurple {
    color: var(--darkpurple);
}

.color-pink {
    color: var(--pink);
}

.color-white {
    color: var(--dk-contrast);
}

.color-fg {
    color: light-dark(var(--light-fg), var(--dark-fg));
}
.color-fg-inverse {
    color: light-dark(var(--dark-fg), var(--light-fg));
}

border-color-pink {
    border-color: var(--pink);
}

border-color-darkpurple {
    border-color: var(--darkpurple);
}