/* -------------------------------------------------------------------------- */
/* BACKDROP HERO */
/* -------------------------------------------------------------------------- */

.backdrop-hero .carousel-cell {
    /* full width */
    /* height of carousel */
}

.backdrop-hero .button--previous {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 56px;
    background-color: var(--light-bg);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}

.backdrop-hero .button--next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50px;
    height: 56px;
    background-color: var(--light-bg);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}

.backdrop-hero .flickity-button.flickity-prev-next-button.next {
    background: url(/images/chevron_right.svg) no-repeat center center / contain;
    right: 10px;
}

.backdrop-hero .flickity-button.flickity-prev-next-button.previous {
    background: url(/images/chevron_left.svg) no-repeat center center / contain;
    left: 10px;
}

.backdrop-hero .flickity-button.flickity-prev-next-button.next,
.backdrop-hero .flickity-button.flickity-prev-next-button.previous {
    border-radius: 0 !important;
    padding: 0 !important;
    height: 36px !important;
}

.backdrop-hero .flickity-button.flickity-prev-next-button.next svg,
.backdrop-hero .flickity-button.flickity-prev-next-button.previous svg {
    opacity: 0;
}

.backdrop-hero .button--previous span,
.backdrop-hero .button--next span {
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
    text-shadow: 0px 0px 4px #00000096;
    width: 54px;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1440px) {

    .backdrop-hero .button--previous span,
    .backdrop-hero .button--next span {
        font-size: 112px;
    }

    .backdrop-hero .flickity-button.flickity-prev-next-button.next {
        right: 50px;
        height: 60px !important;
    }

    .backdrop-hero .flickity-button.flickity-prev-next-button.previous {
        left: 50px;
        height: 60px !important;
    }
}

/* -------------------------------------------------------------------------- */
/* COMMENTS */
/* -------------------------------------------------------------------------- */

.comments .carousel {
    max-width: 1280px;
    margin: 0 auto
}

.comments .flickity-slider {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comments .carousel-cell.is-selected {
    opacity: 1;
}
.comments .carousel-cell:not(.is-selected) .comment-details {
    zoom: .8;
}

.comments .carousel-cell {
    width: 100%;
    max-width: 600px;
    opacity: .5;
    margin-right: 16px;
}
.comments .flickity-viewport{
    height: 100% !important;
    display: flex;
    max-height: 400px;
}
/* BUTTONS */
.comments .flickity-button.flickity-prev-next-button.next,
.comments .flickity-button.flickity-prev-next-button.previous {
        height: 60px;
        width: 60px;
        border-radius: 0;
    }
.comments .flickity-button.flickity-prev-next-button.next {
    background: url(/images/next-comments.png) no-repeat center center / contain;
    right: 10px;
}

.comments .flickity-button.flickity-prev-next-button.previous {
    background: url(/images/prev-comments.png) no-repeat center center / contain;
    left: 10px;
}

.comments .flickity-button.flickity-prev-next-button.next svg,
.comments .flickity-button.flickity-prev-next-button.previous svg {
    opacity: 0;
}

@media screen and (min-width: 1440px) {

    .comments .button--previous span,
    .comments .button--next span {
        font-size: 112px;
    }

    .comments .flickity-button.flickity-prev-next-button.next {
        right: 150px;
        height: 100px !important;
        width: 100px !important;
    }

    .comments .flickity-button.flickity-prev-next-button.previous {
        left: 150px;
        height: 100px !important;
        width: 100px !important;
    }
}